html, body, td, p, th, a  { padding: 0; }

body {
  text-align: left;
  margin:0;
  padding: 20px;
  color:  #335;
  background-color: #eee; 
}


a { text-decoration: none; }

body {
 font-family: "Trebuchet MS", "Gill Sans", Geneva, Arial, Helvetica, sans-serif;
 font-size:  medium;
}

h1,h2,h3 {
  font-family: "Trebuchet MS", "Gill Sans", Geneva, Arial, Helvetica, sans-serif;
  font-style: italic; 
  letter-spacing: 0.05em;
}

h4,h5 {
  margin:0; 
  padding:0;
  font-size: medium;
}

h5 { 
 font-size: small;
 font-weight: normal;
 color: #aaa;
}

h4,h5 { display: inline; }

h5,h4 {
 padding: 0 0.2em;
 border-left: 1px solid #ddd;
}

a:hover,input:hover {color: #336; }
a,input,select,h4 { color: #667 }



input { 
 font-size: small;
 font-weight: bold; 
 margin: 3px;
 vertical-align: middle;
}

label, div#channel_admin span {
 font-size:small;
}



/* layout */
div#channels {
 clear:left;
 width: 280px;
 float: left;
 
 /* Notorious box model hack for IE5, thanks a bunch */
 voice-family: "\"}\""; 
 voice-family:inherit;
 width:250px;
}

ul, li { 
 margin: 0;
 padding: 0; 
 list-style-type:none; 
}

div#channels li,div#opml li {
  display: block;
  padding: 7px 2px; 
  margin:0;
  border-bottom: 1px solid  #eef;
  background-color: #fff;
  font-size:small;
}

div#opml li { border: none }

/* folder items */
div#channels li ul li {
 border-bottom: none;
 border-left: 1px solid  #eef;
 padding-left: 10px; 
}


/* folder icon */
.folder {
  background-image: url(media/folder.gif);
  background-position: 0px 0.5em;
  background-repeat: no-repeat;
  padding:0;
}

/* folder labels */
.folder span {
  font-weight:bold;
  text-transform: capitalize;
  padding-left: 25px; 
  margin:0;
}


/* channels and sub channels */
div#channels li:hover, div#channels li.folder ul li:hover,div#channels li.active {
 background-color: #f8f8ff;
}

div#channels li.folder:hover { background-color: transparent}


div#channels > ul {
 margin-top: 20px;
}



div#items,div#search {
 margin-left: 290px;
}

/** the main divs (nav, side, content, footer, ...) inherit this class */
div.frame {
 background-color: #fff;
 border: 1px solid #ddd;
 padding: 15px;
}


div#nav a { 
 padding: 0 5px; 
 }
 
 
div#nav {
   margin-bottom: 5px;   
   background-color: #fff;
   background-image: url(media/arrows.gif); 
   background-position: top right;
   background-repeat: no-repeat;
 
 }

div#footer, div#nav {
 clear: both;
 padding: 10px;
}

div#footer span { 
 padding:0 5px; 
 margin:0; 
 border-right: 1px solid;  
 font-size:  small;
 color: #777;
}

h1 { 
 margin: 5px;
 padding:0;
 font-weight: 900;
 font-style:italic;
}

li.item.even, tr.even { 
 background-color: #f9f9f9;
}

li.item.odd, tr.odd {
 background-color: #f4f4f4;
}

h3.collapsed {
 border: 1px solid #ddd;
 border-color: #eee;
 background-color: #f9f9f9;
 padding-bottom: 0.2em;
}
  

li.item.even.unread,li.item.odd.unread,h3.collapsed.unread {
 border-color: #eef;
 background-color: #f8f8ff;
}

li.item {
 padding:  5px;
 list-style-type: none;
 margin: 0 0 10px 0;
 border: 1px solid #eee;
}

div#items ul{
 padding:0;
 margin:0 0 30px 0;
}

h3.collapsed {
  margin:0 0 20px 0;
}

div#items li { 
 padding: 10px 15px;
 clear:right;
}

div#items li.upnav {
 padding: 0;
 clear:right;
 margin:0; 
 text-align:right;
}

div#items li.upnav a {
 border-left: 1px solid;
 font-size:  small;
 padding: 0 10px;
}

/* images inside posts */
div.content img {
  display: block;
}



/*
br.brkr { clear: left }
*/
img { border: none }

div#items img.favicon { display: inline; }

.content,.content * {
 font-size: small;
 line-height: 1.4em;
 text-align:justify;
/* padding-top: 1em; */
/* clear:both; */
}

.content { height: auto }
.item:hover .content a { border-bottom: 1px solid #ccc}

td,th { padding: 5px; }

th { 
 background-color: #f4f4f4; 
 font-weight: bold; 
}

table#channeltable,table#foldertable {
 border: 1px solid #ddd;
 margin: 20px 0 5px 0;
 width: 100%;
 font-size: small;
}

table tr:hover td { background-color: #f8f8ff }

table#foldertable { width: auto }

td>input[type="text"] {
 width: 100%;
}

form#channeledit input {
  display:block;
}

form#channeledit input[type="text"] {
  display:block;
  width: 50%;
}
  
form.markread p, form.markallread {
 float: right; 
 margin-top: 0;
 text-align:right;
}

form.markallread {
 text-align:center;
}

h2 { 
 margin: 0;
/* border-bottom: 1px solid  #eef; */
}


#items h2 {
 margin-bottom: 10px;
/* margin-top: -10px; */
}

h3 { 
 padding: 0 5px;
 margin: 20px 0 0 0;
}

h3 a,h3 a img { vertical-align:middle }


p.error {
 color: red;
 font-weight:bold;
}

input, select, option, textarea {
 border: 1px solid #ddd;
 background-color: #f4f4f4;
}

input[type="radio"], input[type="hidden"] {
 border: none;
 background-color: transparent;
}

span.readmore {
 display: block;
 text-align: right;
}

span.readmore a {
 display: inline;
 border-left: 1px solid;
 padding: 0 10px;
 font-size:  small;
}


/** from http://css.maxdesign.com.au/listamatic/horizontal11.htm **/

ul#navlist {
 list-style-type: none;
 padding-bottom: 25px; 
 margin: 0;
}
 
ul#navlist li {
 float: left;
}


ul#navlist li {
 height: 1.3em;
 margin: 2px 2px 0 5px;
 border: 1px solid #ddd;
 background-color: #f4f4f4;
 padding: 0.05em 0.2em;
 -moz-border-radius: 5px;
}

/* doubling because IE chokes on the submit selector */
input[type="submit"] {
  height: 23px; 
  margin: 2px 2px 0 2px; 
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 0.05em 0.1em;
  -moz-border-radius: 5px;
}  

input[type="text"]:focus{
 border-color:#aaa;
}

 
#navlist li:hover,input[type="submit"]:hover {
 background-color:  #f8f8ff;
 border-color: #ddf;
}
 
#navlist li a {
 float: left;
 display: block;
 text-decoration: none;
 font-weight: bold;
 color: #667;
 letter-spacing: 0.1em;
 vertical-align:middle;
}
 
#navlist li.active a,#navlist li a:hover { color: #336; } 

/*
#navlist input[type="submit"] {
 font-weight:normal;
 font-size:medium;
}
*/

img.favicon {
 width:16px;
 height:16px;
 border:none;
 margin-right: 0.5em;
 display: inline;
}

p.stats {
 margin: 0;
 padding: 0;
 font-size: small;
}

.searchhit { border-bottom: 1px solid; font-weight: 900 }
form#srchfrm p { text-align: left; }
input#search_go { margin-left: 100px; }

div#channel_admin h2 { margin-top: 1em; }
label, input[type="submit"] {
 cursor: pointer;
}


/* bad bad bad */
.frame,.item,h3.collapsed { -moz-border-radius: 5px }

.box { 
 border: 1px solid #eef;
 text-align:center;
}

span.updateres { 
/*  margin-left: 2em; */
  position: absolute;
  left: 60%;
  font-weight: bold; 
}
span.updateres.ok { color: green }
span.updateres.ko { color: red }


#admin_opml, #admin_folders { width: 48% }
#admin_folders { float: left }
#admin_opml { margin-left: 50% }

.clearer { clear: both; height: 0 }

/* margin to footer */
div#channels, div#items, div#search, div#channel_admin {
 margin-bottom: 5px;
}
