<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond  %{REQUEST_URI} !css\/
  RewriteCond  %{REQUEST_URI} !img\/
  RewriteCond  %{REQUEST_URI} !magpierss-0.61\/
  RewriteRule ^(.+)\/(.*)?$ feed.php?channel=$1&iid=$2
</IfModule>
