<IfModule mod_rewrite.c>
  RewriteEngine on

  SetEnvIf Request_URI "/css/" static
  SetEnvIf Request_URI "/img/" static
  SetEnvIf Request_URI "/admin/" static
  SetEnvIf Request_URI "/extlib/" static
  # You can add other lines here to have static content 
  # under a gregarius installation.
  
  #admin section
  RewriteRule 	^admin\/([a-z]+)$	admin/index.php?view=$1 [L]
  
  #opml
  RewriteRule 	^opml.*$		opml.php?action=Export [L]

  #tag view
  RewriteRule	^tags?\/?$			tags.php?alltags [L]
  RewriteRule	^tag\/([a-zA-Z0-9_\.\+]+)$  	tags.php?tag=$1 [L]
  
  #item view
  RewriteCond  %{env:static} ^$
  RewriteRule ^(.+)\/([0-9][0-9][0-9][0-9])\/([0-9][0-9]?)\/?([0-9]?[0-9])?\/?(.*)?$	feed.php?channel=$1&y=$2&m=$3&d=$4&iid=$5 [L]
  
  #feed view
  RewriteCond  %{env:static} ^$
  RewriteRule ^(.+)\/(.*)?$   feed.php?channel=$1&iid=$2 [L]
</IfModule>
