<?

//
// The name of your MySQL database
//
define ('DBNAME','database_name');

//
// The username to use when connecting to the database. Make sure that
// thus user owns privileges to CREATE database tables on the above
// database!
//
define ('DBUNAME','database_username');

//
// The password to use when connecting to the database
//
define ('DBPASS', 'database_password');

//
// The hostname of your database server. Unless you know
// different this should probably be 'localhost' or '127.0.0.1'
//
define ('DBSERVER', 'localhost');

//
// The table name prefix to use. If you specify anything here,
// say 'gregarius', your database table 'channels' will be referred to 
// as 'gregarius_channels'. This is useful to avoid table collisions when 
// your hosting provider only allows you one single database and several
// applications rely on that db.
//
// If this is not the case you can safely ignore this option.
//
//define ('DB_TABLE_PREFIX','');

?>