body {
background-color:white;
padding: 0;
margin:0;
font: normal x-small Verdana, Arial, "MS Trebuchet", sans-serif;
color: #333;
}
input,select,option{font-size:xx-small;}
div,p,h4,h5,ul {margin:0;padding:0;}
div.item { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 1em 0; padding: 0 ;}
div.item.e { background-color: #efefef;}
div.item.o { background-color: #f6f6f6;}
div.item .content { padding: 1em 4px; }
a {color:#d54; text-decoration:none;}
img {border: 0px;}
h2,h3 {font-size:110%;}
h4,h5 {font-size:100%;}
h1,h2,h3,h4,h5 {display:block;}
h1,h2 {
	background-color: #eee;
	padding: 5px 0 3px 0;
	margin:0;
	border-bottom: 1px solid #ccc;
}

h3 {padding:0; margin: 0.7em 0 0.1em 0;}
h4 { background-color: #e2e2e2; font-weight:bold; display:block; padding: 3px 0;}
h5 { font-weight:normal;}
div.mobileform { display:block; border-top: 1px solid #eee; padding:0; margin:0;}
div.mobileform p { margin:0; padding:0;}
#footer {
	margin-top:1em;
	background-color: #eee;
	border-top: 1px solid #ccc;
}
#footer span {font-weight:bold;}
.favicon { vertical-align:bottom; margin: 0 0.2em;}
#nextitems{text-align:right;padding-right:2em}
