html, body { background-color:#f0f0ee; color:#222; }

/* Make the page full bleed */
#doc3 { margin:0; }

/* Header */
#hd { padding:1.2em 1.5em 0 1.5em; background-color:#7a1818; }
h1 { font-size:230%; color:#fff; }

#navigation { margin-top:1.5em; background-color:#262626; height:1%; }
#navigation li { float:left; display:inline; }
#navigation li a { display:block; color:#fff; text-decoration:none; }
#navigation li a:hover { text-decoration:underline; }

#primary-navigation li a { font-size:116%; padding:0.4em 1em; }
#primary-navigation li.active a { background-color:#f0f0ee; color:#000; }

#user-navigation { float:right; }
#user-navigation li a { font-size:93%; padding:0.5em 1em; }

/* Body */
#bd { padding:1.5em; }
h2 { font-size:153.9%; margin-bottom:0.5em; }
h3 { font-size:153.9%; margin-bottom:0.5em; }

/* Basic block */
.block { margin-bottom:1.5em; }
.block .hd { background-color:#7a1818; padding:0.7em 1em; color:#fff; border-bottom:10px solid #262626; }
.block .hd h2, .block .hd h3 { font-size:100%; margin-bottom:0; }
.block .bd { padding:1em; background-color:#fff; }
.block .bd h2 { color:#7a1818; }
.block .bd h3 { color:#7a1818; }

/* Extend block with tabs */
.tabs .hd { padding:0; }
.tabs .hd ul { height:1%; }
.tabs .hd ul li { float:left; }
.tabs .hd ul li a { display:block; color:#fff; text-decoration:none; padding:0.5em 1em; }
.tabs .hd ul li a:hover { background-color:#470E0E; }
.tabs .hd ul li.active a { background-color:#262626 !important; color:#fff; text-decoration:none; } /* important! fixes IE cascade issue */
.tabs .hd h2, .tabs .hd h3 { position:absolute; margin-left:-5000px; } /* Hidden SEO Header if needed */

/* Extend tab block with spaced tabs */
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#7a1818; margin-right:0.1em; }

/* Extend block and header to have rounded corners */
.rounded .hd,
.rounded .hd ul li,
.rounded .hd ul li a,
.rounded #navigation,
.rounded #navigation ul li,
.rounded #navigation ul li a {
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-top-left-radius:7px;
}

/* Style the horizontal rules inside .block */
.block hr { background-color:#f0f0ee; color:#f0f0ee; height:1px; border:0; }

/* Tables */
table { width:100%; margin-bottom:2em; }
table td { padding:0.5em; }
table thead { background-color:#262626; color:#fff; font-weight:bold; }
table thead a { text-decoration:none; color:#fff; }
table thead a:hover { text-decoration:underline; }
table tbody a { text-decoration:underline; }

/* Pager control*/
ul.pager { text-align:right; }
ul.pager li { display:inline; }
ul.pager li a { padding:0.1em 0.3em; margin-right:0.3em; border:1px solid #000; text-decoration:none; color:#000; }
ul.pager li.active a, ul.pager li a:hover { background-color:#000; color:#fff; }

/* Forms */
form label { font-weight:bold; }
form label span { font-weight:normal; color:#f00; font-size:85%; }
form span.info { font-style:italic; color:#aaa; font-size:85%; }
form .text { display:block; width:99%; border:1px solid #aaa; padding:0.3em; }
form .column { width:48%; }
form .left { float:left; }
form .right { float:right; }

/* Messages */
.alert { padding:0.5em; text-align:center; }
.error { border:2px solid #fbb; background-color:#fdd; }
.warning { border:2px solid #fffaaa; background-color:#ffc; }
.notice { border:2px solid #1fdf00; background-color:#bbffb6; }

/* Lists */
ol.list, ul.list, dl.list { margin-left:2em; margin-bottom:1em; }
ol.list li { list-style:decimal outside; }
ul.list li { list-style:disc outside; }
dl.list dd { margin-left:1em; }

ul.biglist { margin-bottom:1em; }
ul.biglist li { margin-top:-1px; border:1px solid #f0f0ee; border-width:1px 0 1px 0; padding:0.5em 0; }
ul.biglist li a { display:block; text-decoration:none; color:#000; }
ul.biglist li a:hover { text-decoration:underline; }

/* Footer */
#ft { text-align:center; font-size:85%; padding:0.5em 1em; color:#262626; }

/* Generics */
p { margin-bottom:1em; }
a { color:#7a1818; }
strong { font-weight:bold; }
em { font-style:italic; }
abbr, acronym { border-bottom:1px dotted #000; cursor:help; }

.small { font-size:85%; }
.gray { color:#999; }
.highlight { background-color:#ffffcc; }
.clear { clear:both; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }

/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations. */

html, body {
	background-color:#EBE1D3;
	/*padding-top: .3em;*/
}
h1, h2, h3 {
	color: #222;
}
a {
	color:#0854C7;
	text-decoration: none;
}
table thead { background-color:#685841;}

#hd {
	background-color: #967E59;
}
#hd h1{
	color: #fff;
}
#bd {
	background-color: #fff;
	color: #333;
}

#primary-navigation li.active a { background-color: #fff; color:#333;}
#navigation {
	background-color: #064780;
}

.block .hd { background-color: #A0C2DE; color: #333; border-bottom: 5px solid #064780 }
.tabs .hd {
	background-color: #064780;
	border-bottom: 5px solid #A0C2DE;
}

.block .bd h2 { color:#967E59; }
.block .bd h3 { color:#967E59; }
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#187a7a; }

.tabs ul {
	background-color: #064780;
}

.tabs .hd ul li a:hover { background-color:#CDEFFF; 	color: #333;
}

.tabs .hd ul li.active a { background-color:#A0C2DE !important; color:#333; text-decoration:none; }
.spaces .hd ul li { background-color:#064780; margin-right:0.1em; }

ul.pager li a { padding:0.1em 0.3em; margin-right:0.3em; border:1px solid #ccc; text-decoration:none; color:#333; }
ul.pager li.active a, ul.pager li a:hover { background-color:#685841; color:#fff; }

/* customization */

/* containers */

html, body {
  background-color: #eee;
  background-image: url(./media/bg.gif);
}

#hd {
  background-image: url(./media/arrows.gif);
  background-color: #fff;
  background-position: top right;
  background-repeat: no-repeat;
	margin: 15px;
}

#bd {
  background-color: #eee;
  background-image: url(./media/bg.gif);
	margin-left: 15px;
	margin-right: 15px;
	padding:0px;
}

#ft {
	margin: 15px;
}

.frame {
 	background-color: #fff;
 	border: 1px solid #ccc;
	  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
	padding:15px;
}

/* navigation in header */

ul.navlist {
 list-style-type: none;
 padding-bottom: 25px;
 margin-bottom: 25px;
}

ul.navlist li {
 float: left;
 height: 1.3em;
 margin: 2px 7px 0 0px;
 padding: 2px 10px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border: 1px solid #ddd;
 background-color: #f4f4f4;
}

.navlist li a {
 float: left;
 display: block;
 vertical-align:middle;
 text-decoration: none;
 font-weight: bold;
 color: #667;
 letter-spacing: 0.1em;
}

ul.navlist:hover li span { text-decoration:underline}

input[type="submit"] {
  height: 23px;
  margin: 2px 2px 0 2px;
 padding: 2px 10px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}

input[type="text"]:focus{
 border-color:#aaa;
}

.navlist li:hover,input[type="submit"]:hover {
 background-color:  #f8f8ff;
 border-color: #ddf;
}

.navlist li.active a,.navlist li a:hover { color: #336; }

label, input[type="submit"] { cursor: pointer; }

#loginfo {
	background-color:white;
	border:1px solid #CCCCCC;
	font-size:small;
	opacity:0.7;
	float:right;
	padding:0.2em 0.5em;
}

#hd h1 {
	color: #222222;
}
/* feed list in sidebar */
#channels div.stats h3 {
	font-size: 133%;
}

#channels h3,
#channels h3 a {
	color: #967E59 !important;
	text-transform: uppercase;
	font-size: 110%;
	font-weight: bold;
}

/* pagination */
#pagination {
	margin-bottom: 30px;
}

/* main view */

#feedcontent {
	/*margin-top: 35px;*/
	color: #967E59 !important;
	text-transform: uppercase;
}

div.feedaction {
   padding:0;
   margin:0;
   text-align:right;
   display:block;
	float:right;
}

div.feed-body {
	padding-top: 10px;
	background-color: #064780 !important;
}

div.item {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
	background-color: white;
	padding: 5px;
	margin-bottom: 10px;
}

div.item-title {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

div.item:hover {
 	background-color: #FFFFCC;
	cursor: pointer;
}

div.item-body {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
	padding: 5px;
}

/* folder labels */
.folder span {
  font-weight:bold;
  text-transform: capitalize;
}

/* links */
a:hover {
	text-decoration:underline;
}

/* for code blocks */
.content pre,
.content blockquote {
 border-left:4px solid #7F7F7F;
 background-color: #DDDDDD;
 font-style:italic;
 padding: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 display: block;
}
