/*This is from awesome-buttons: http://github.com/gr2m/awesome-buttons */

/*
    awesome buttons are based on a blog post by ZERB
    Read there blog post for more information:
    "Super awesome Buttons with CSS3 and RGBA":http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba

    this buttons are even more awesome, as the need only one color for all three states,
    and have an super awesome onclick state
*/

/* set an awesome color for the buttons, feel free to add new colors like an .awesome.green or .awesome.secondary */
.awesome {
  background-color: #333 !important;
  color: #fff !important;
}

/* the awesome size gets set here. Feel Free to add new sizes, like .awesome.small or .small.large   */
.awesome        { padding: 5px 10px 6px !important; font-size: 13px !important; }
.awesome:active	{ padding: 6px 10px 5px !important; }

/* Touch the rest at your onw risk. */
.awesome {
  border: 0 !important;
  cursor: pointer !important;
  font-style: normal !important;
  font-weight: bold !important;
  font: inherit !important;
  line-height: 1 !important;
  position: relative !important;
  text-align: cente !important;
  text-decoration: none !important;

  /* vertical margin is the oposite of button's awesomeness */
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  /* not all browser support these, but who cares? */
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25) !important;

          border-radius: 5px !important;
     -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
          box-shadow: 0 1px 2px rgba(0,0,0,0.5) !important;
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) !important;

  /* who needs images these days? */
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(150,150,150,.2), rgba(0,0,0,.0)) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(0,0,0,.0))) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30ffffff,endColorstr=#10000000) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2);

  /* cross browser inline block hack
     see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle !important;
  *display: inline !important;
  position: relative;

  /* IE luv */
  zoom: 1;

  /*disable text selection (Firefox only)*/
  -moz-user-select: none;
}

/* OPERA only
   if there is no border set, Opera shows a transparent background-color if border-radius is set. */
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
  input.awesome {
    border: 1px solid RGBa(0,0,0,0) !important;
  }
}

/* hide selection background color */
.awesome::selection {
	background: transparent;
}

.awesome {
  outline: 0; /*remove dotted line, works for links only*/
}
.awesome::-moz-focus-inner {
  border: none; /* remove dotted lines for buttons */
}
.awesome:focus,
.awesome:hover {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(150,150,150,.3), rgba(0,0,0,.0)) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.4)), color-stop(0.5, rgba(150,150,150,.3)), to(rgba(0,0,0,.0))) !important;
  #filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff,endColorstr=#20000000) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2);
}
.awesome:active	{
  background-image: -moz-linear-gradient(top, rgba(0,0,0,.2), rgba(150,150,150,.2), rgba(255,255,255,.2)) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(255,255,255,.2))) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#20000000,endColorstr=#50ffffff) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=1);

          box-shadow: inset 0 1px 2px rgba(0,0,0,0.7) !important;
     -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7) !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7) !important;
}

/* Safari doesn't support inset box shadow, so we better remove it */
@media screen and (-webkit-min-device-pixel-ratio:0){
  .awesome:active	{
    -webkit-box-shadow: none;
  }
}

/****************** Customization for gregarius starts here ******************/

html {
	/*background: -moz-linear-gradient(top, #003E75 20px,	#004E92 100%);*/
  background-image: url(./media/bg.png);
}

html, body {
	color:#fff;
	font-family: "Helvetica Neue",Helvetica-Neue,Helvetica,"MgOpen Moderna",sans-serif !important;
}

/* Make the page full bleed */
#doc3 { margin:0; }

/* Header */
h1 { font-size:230%; }

/* Body */
#bd { padding:1.5em; }
h2 { font-size:153.9%; margin-bottom:0.5em; }
h3 { font-size:153.9%; margin-bottom:0.5em; }

/* Basic block */
.block { margin-bottom:1.5em; }
.block .hd { background-color:#7a1818; padding:0.7em 1em; color:#fff; border-bottom:10px solid #262626; }
.block .hd h2, .block .hd h3 { font-size:100%; margin-bottom:0; }
.block .bd { padding:1em 0; }

/* Generics */
strong { font-weight:bold; }
em { font-style:italic; }
abbr, acronym { border-bottom:1px dotted #000; cursor:help; }
.clear { clear:both; }
a {
	color:#0854C7;
	text-decoration: none;
}

/* Main blocks with blue gradient */
.frame {
	background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.11, rgb(0,78,146)),
			color-stop(0.56, rgb(0,62,117))
	);
	background: -moz-linear-gradient(
			center bottom,
			rgb(0,78,146) 11%,
			rgb(0,62,117) 56%
	);
 	border: 1px solid #333;
	border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
	padding:15px;
	margin-bottom:15px;
	/*-moz-box-shadow: 5px 5px 5px #888;*/
}

/* Header */

#hd {
	margin: 15px;
}

#hd h1 {
	color: white;
	text-shadow: 1px 2px 8px #999;
	margin-bottom: 10px;
	font-weight:bold;
}

#hd a.awesome {
	font-weight:bold !important;
	text-shadow: 2px 2px 7px #000 !important;
}

#loginfo {
	color: #333;
	background-color:white;
	border:1px solid #CCCCCC;
	font-size:small;
	opacity:0.7;
	float:right;
	padding:0.2em 0.5em;
}

/* Main content */
#bd {
	color: #333;
	margin-left: 15px;
	margin-right: 15px;
	padding:0px;
}

/* Footer */
#ft {
	text-align:center;
	font-size:85%;
	padding:0.5em 1em;
	margin: 15px;
}

#ft a {
	color: #fff;
	text-shadow: 2px 2px 7px #000 !important;
}

/* Form styling */
input[type="submit"] {
  height: 23px;
  margin: 2px 2px 0 2px;
 padding: 2px 10px;
 border-radius:5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
	color:#666677;
	font-weight:bold;
}

input[type="text"]:focus{
 border-color:#aaa;
}

label, input[type="submit"] { cursor: pointer; }

/* Controls */
div.controls {
	color: #fff;
	font-weight:bold;
	text-shadow: 2px 2px 7px #000;
	height: 23px;
	/*padding-bottom: 35px;*/
}

/* Link to previous/next feed */
div.readmore {
	clear:both;
	margin-top: 10px;
}

div.readmore a.fl {
	float:left;
	margin-bottom:7px;
}

div.readmore a.fr {
	float:right;
	margin-bottom:7px;
}

div.feedaction {
	padding:0;
	margin:0;
	text-align:right;
	display:block;
	padding-bottom: 10px;
	float:right;
}

/* Feed list in sidebar */
#channels div.stats h3 {
	font-size: 133%;
}

#channels h3,
#channels h3 a {
	color: #fff !important;
	font-weight:bold;
	text-shadow: 2px 2px 7px #000;
	text-transform: uppercase;
	font-size: 110%;
}

#channels div.block,
#channels ul,
#channels div.bd {
	margin-top:0;
	margin-bottom:0;
	padding-bottom:0;
}

#channels ul  {
	margin-left: 20px;
}

#channels div.stats ul  {
	margin-left: 0px !important;
}

#channels li  {
	padding-top: 4px;
	color: #fff;
	font-size: 110%;
}

#channels a.foldershow,
#channels a.folderhide {
	width:5px;
	padding: 0 5px 0 5px;
	margin-left: 2px;
  background: url(./media/plus.gif) no-repeat center;
	text-decoration:none;

}

#channels a.folderhide {
  background: url(./media/minus.gif) no-repeat center;
}

#channels a {
	color: #fff;
}

/* main view */

#feedcontent {
	color: #967E59 !important;
	text-transform: uppercase;
	text-shadow: 1px 2px 25px #999;
	/*text-shadow:1px 1px 2px #999999;*/
}

div.feed-title {
	border-bottom: 0px !important;
}

div.feed-title a {
	color: #fff;
	font-weight:bold;
	text-shadow: 2px 2px 7px #000;
	font-size: 110%;
}

div.feed-body {
	border-radius-bottomleft:7px;
  -moz-border-radius-bottomleft:7px;
  -webkit-border-radius-bottomleft:7px;
	border-radius-bottomright:7px;
  -moz-border-radius-bottomright:7px;
  -webkit-border-radius-bottomright:7px;
}

div.feed-items {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
	background-color: white;
	padding: 5px 0px 5px 0px;
}

div.item {
/*  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;*/
	background-color: white;
	padding: 5px;
	margin-bottom: 0px;
	border-bottom: 1px #004E92 dotted;
}

div.item:first-of-type {
	border-top: 1px #004E92 dotted;
}

div.item-title {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

div.item-title a {
	/*text-shadow: 1px 0px 0px #aaa;*/
	font-size: 110%;
}

div.item:hover {
 	/*background-color: #FFFFCC;*/
	background: -moz-linear-gradient(top, #FFFF98 0%,
																				#FFFFCC 100%);
	cursor: pointer;
}

div.item-body {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
	padding: 5px;
}

/* folder labels */
.folder span {
  font-weight:bold;
  text-transform: capitalize;
}

/* links */
a:hover {
	text-decoration:underline;
}

/* Style a feed item .content */

/* For code blocks */
.content pre,
.content blockquote {
	border-left:4px solid #7F7F7F;
	color: #000;
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.11, rgb(184,197,207)),
    color-stop(0.75, rgb(150,166,179))
	);
	background: -moz-linear-gradient(
    center bottom,
    rgb(184,197,207) 11%,
    rgb(150,166,179) 75%
	);
	font-style:italic;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

/* Images */
.content img {
	display: block;
	margin: 1em;
}

/* Lists */
.content ol,
.content ul {
	margin: 1em;
	margin-left: 2em;
}

.content li {
	list-style-image:none;
	list-style-position:outside;
}

.content ol li {
	list-style-type:decimal;
}

.content ul li {
	list-style-type:disc;
}

.content h2,.content h3,.content h4,.content h5,.content h6 {
	color: #333333 !important;
	font-size: 105%;
	font-weight:bold;
}

.content p {
	margin: 1em;
}

/* To remove the read/unread show form */
#frmShow {
	display:none;
}

/* Current page */
strong.current {
	padding: 0px 10px;
}
